@model ECommerce.Models.ProductoViewModel


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Producto</title>
</head>
<body>
    <div>
        <h2>Ésta es la vista Consultas/Producto</h2> <br>
        <label>El Id de producto: @Model.IdProducto </label> <br>
        <label>El Id de su categoria es: @Model.IdCategoria </label> <br>
        <label>Su Id de imagen es: @Model.IdImagen </label> <br>
        <label>El nombre de éste producto es: @Model.Nombre </label> <br>
        <label>Su descripción es: @Model.Descripcion </label>
    </div>
</body>
</html>
