@model ECommerce.Models.ProductoViewModel

@section styles{
    <!-- Custom styles for this template -->
    <link href="~/Content/StyleProducto.css" rel="stylesheet">
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Vista Producto/Index</title>
</head>
<body>
    <div class="jumbotron">
        <header class="container">
            <div>
               @Model.Nombre
            </div>
            <div>
               <img src="/imagenes/imagen/@Model.IdImagen" height="200">
            </div>
            <p>
                Caracteristicas: <br />
                Descripcion: @Model.DescripcionBreve<br />
                IdCategoria: @Model.IdCategoria<br />
                IdProducto: @Model.IdProducto<br />
                Precio: $@Model.Precio<br />
                IdImagen: @Model.IdImagen<br />
            </p>
        </header>
    </div>
</body>
</html>
